<div class="head">
    <div class="text-block fifty">
        <span class="pre-text">
            OPEN GOVERNMENT TOGETHER
        </span>
        <h1 class="hero-text">
            Participation Officers Network
        </h1>
        <span class="sub-text">
            開放政府聯絡人
        </span>
        <span class="small-text">
            <a href="https://pdis.tw">公共數位創新空間</a>
            與大家一起改變世界！
        </span>
    </div>
    <div class="fifty">
        <div class="pc-only">
            <amp-carousel id="carousel" height="100vh" layout="fixed-height" type="slides" autoplay delay="3000">
                <amp-img src="/assets/img/carousel/1.jpg" width="400" height="300" layout="responsive" alt="a sample image"></amp-img>
                <amp-img src="/assets/img/carousel/2.jpg" width="400" height="300" layout="responsive" alt="another sample image"></amp-img>
                <amp-img src="/assets/img/carousel/3.jpg" width="400" height="300" layout="responsive" alt="and another sample image"></amp-img>
            </amp-carousel>
        </div>
        <div class="mobile-only">
            <amp-carousel id="carousel" height="50vh" layout="fixed-height" type="slides" autoplay delay="3000">
                <amp-img src="/assets/img/carousel/1.jpg" width="400" height="300" layout="responsive" alt="a sample image"></amp-img>
                <amp-img src="/assets/img/carousel/2.jpg" width="400" height="300" layout="responsive" alt="another sample image"></amp-img>
                <amp-img src="/assets/img/carousel/3.jpg" width="400" height="300" layout="responsive" alt="and another sample image"></amp-img>
            </amp-carousel>
        </div>
    </div>
</div>