<div class="container reverse-wrap">
    <div class="align-center fifty">
        <div class="text-block">
            <span class="bg-dark pre-text">
                OPEN GOVERNMENT TOGETHER
            </span>
            <div class="hero-text">
                PO Network
            </div>
            <div class="sub-text">
                開放政府聯絡人
            </div>
            <div class="small-text">
                <a href="https://pdis.tw">公共數位創新空間</a>
                與大家一起努力！
            </div>
        </div>
    </div>
    <div class="fifty">
        <div class="pc-only">
            <amp-carousel height="100vh" layout="fixed-height" type="slides" autoplay delay="3000">
                <div class="slide1 slide"></div>
                <div class="slide2 slide"></div>
                <div class="slide3 slide"></div>
            </amp-carousel>
        </div>
        <div class="mobile-only">
            <amp-carousel height="50vh" layout="fixed-height" type="slides" autoplay delay="3000">
                <div class="slide1 slide"></div>
                <div class="slide2 slide"></div>
                <div class="slide3 slide"></div>
            </amp-carousel>
        </div>

    </div>
</div>

</div>