<div class="container">
    <div class="flex-column text-block">
        <div class="justify-center flex-column">
            <div>
                <amp-position-observer on="enter:bounceIn.start;" intersection-ratios="1" layout="nodisplay">
                </amp-position-observer>

                <amp-animation id="bounceIn" layout="nodisplay">
                    <script type="application/json">
                        {
                            "duration": "1000ms",
                            "fill": "none",
                            "easing": "ease-out",
                            "iterations": "1",
                              "selector": ".bounceIn",
                              "keyframes": "bounceIn"
                        }
                    </script>
                </amp-animation>
            </div>
            <h1 class="bounceIn text-center">
                開放政府是什麼，可⁠以⁠吃⁠嗎？
            </h1>
            <p class="text-justify text-block-small bounceIn">
                開放政府是什麼？2009 年的白宮備忘錄揭示了開放政府的行動方針為透明、參與、協作。
                2011 年，在美國主導下，八國政府（巴西、印尼、墨西哥、挪威、菲律賓、南非、英國、美國）
                聯手成立「開放政府夥伴聯盟」（Open Government Partnership）並簽署《開放政府宣言》
                ，將此概念向全球推廣。
                因應各國不同的民主進程和政治脈絡，開放政府夥伴聯盟重新定義開放政府，
                指出它的四大核心要素為：透明、參與、課責（accountability）、涵容（inclusion）。
            </p>

            

        </div>
        <div class="flex-row ">
                <div class="card">
                    <div class="img">
                        <amp-img src="/assets/img/noun_transparent_747334.svg" layout="responsive" height="200" width="200"></amp-img>
                    </div>

                    <h1 class="text-center pdis-blue">透明</h1>
                    <p>
                        光線可以穿過，通澈明亮。完全的、清楚的。
                        《二刻拍案驚奇·卷二○》：「這老兒曉得商家有貲財，又是孤兒寡婦，可以欺騙，其家金銀雜物多曾經媳婦商小姐盤驗，兒子賈成之透明知道。」
                    </p>
                </div>
                <div class="card">
                    <div class="img">
                        <amp-img src="/assets/img/participation.svg" layout="responsive" height="200" width="200"></amp-img>
                    </div>
                    <h1 class="text-center pdis-dark-blue">參與</h1>
                    <p>
                        參加。《三國志·卷五六·吳書·朱桓傳》：「是時全琮為督，權又令偏將軍胡綜宣傳詔命，參與軍事。」《北史·卷二○·王建傳》：「登國初，為外朝大人，與和跋等十三人迭典庶事，參與計謀。」也作「參預」。
                    </p>
                </div>
                <div class="card">
                    <div class="img">
                        <amp-img src="/assets/img/accountability.svg" layout="responsive" height="200" width="200"></amp-img>
                    </div>
                    <h1 class="text-center pdis-red">課責</h1>
                    <p>
                            考核、考試。徵收、徵調。督促、督率。賦稅。有一定進度計畫的學習過程。學業、學科。量詞。計算課數的單位詞。機關中分別治事的行政單位。關於求神問卜的事情。
                            分內的事情。要求、索取。詰問。處罰。欠人的錢財。
                    </p>
                </div>
                <div class="card">
                    <div class="img">
                        <amp-img src="/assets/img/inclusion.svg" layout="responsive" height="200" width="200"></amp-img>
                    </div>
                    <h1 class="text-center pdis-yellow">涵融</h1>
                    <p>
                            水澤多。浸潤、溼潤。包容、容納。沉潛、潛水。參見「涵淹」、「涵泳」等條。涵洞的簡稱。
                            炊煮時，火氣上升消散。消溶、溶化。調和。流通。和樂。長久。傳說中的火神。即祝融。
                    </p>
                </div>
        </div>
    </div>

</div>