.pre-text {
    font-weight: 400;
    display: inline-block;
    padding: 5px;
    border-radius: 0.2rem;
    letter-spacing: 0.2rem;
    font-size: 1em;
    color: white;
    background-color: var(--main-text);
}

.hero-text {
    font-size: 4.5rem;
    font-weight: 900;
    text-decoration: underline;
    margin: 15px 0 25px;
    color: var(--main-text);
}

.sub-text {
    font-size: 3rem;
    font-weight: 200;
}

.small-text{
    font-weight: 200;
    margin: 3rem 0;
}

.slide{
  background-position: center;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.slide1{
  background-image: url("https://talk.pdis.nat.gov.tw/uploads/default/original/2X/c/cefe13fe0a8de71c30fdc0732003b78e51073d83.JPG");
}

.slide2{
  background-image: url("https://talk.pdis.nat.gov.tw/uploads/default/original/2X/0/0501dceb4bbb80b9ff3daba8233d81dfd37c9b6e.JPG");
}

.slide3{
  background-image: url("https://talk.pdis.nat.gov.tw/uploads/default/original/2X/d/d469032fab7d43b08d02dc95ea7e57e6192ff92d.JPG");
}

.responsive-img{
  width:100%;
}

.amp-carousel-slide {
  opacity: 0.5;
}
.amp-carousel-slide[aria-hidden=false] {
  transition: opacity 2s;
  opacity: 1;
}