@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
}

:root {
    --main-text: #032E3D;
    --sub-text: #3e3e3e;
    --info: #10768D;
    --highlight: #DBB608;
    --background: #E8DCBE;
    --select: #BF1826;
    --card-size: 260px;
}

::selection {
    background: var(--select);
    color: var(--background);
}

body{
    color: var(--main-text);
}

a {
    text-decoration: none;
    border-bottom: 1px var(--info) solid;
    color: var(--info);
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
    word-break: break-all;
    text-align: justify;
    margin: 0px;
    font-weight: 200;
}

@font-face {
 font-family: LatoB;
 font-style: normal;
 font-weight: normal;
 src: local("Lato")
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    margin: 2.5rem 0;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

amp-carousel#carousel amp-img img {
    object-fit: cover;
}

hr {
    width: 100%;
    margin: 3rem 0;
}

.container {
    max-width: 1024px;
    margin: 3rem auto;
    padding: 0 5vw;
}

.img-section {
    margin: 3rem auto;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    padding: 0 3.5vw;
    align-items: center;
}

.img-section:nth-child(odd) {
    flex-direction: row-reverse;
}

.img-section .img,
.img-section .text {
    flex: 1 1 50%;
    margin: 1.5vw;
}

.text-section {
    margin: auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    align-items: center;
}

.line-section {
    border-bottom: 1px solid lightgray;
}

.points-section {
    margin: 3rem auto;
    max-width: 1024px;
    display: flex;
    padding: 0 3.5vw;
    flex-wrap: wrap;
}

.points-section .point {
    flex: 0 0 33%;
    padding: 1.5vw;
    display: flex;
    max-width: 600px;
}

.points-section .point .icon {
    padding: 10px 20px 0px 0px;
}

.points-section .point .title {
    color: var(--info);
    font-weight: 400;
}

@media (max-width: 900px) {
    .img-section:nth-child(1n) {
        flex-direction: column;
    }
    .img-section .img {
        height: auto;
        width: 100vw;
        max-width: 600px;
    }
    .points-section {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .points-section .point .icon {
        display: none;
    }
}