body{
  font-family: Lato;
}

a{
    text-decoration: none;
    border-bottom: 1px #032E3D solid ;
    color: #032E3D;
}

.header {
    display: flex;
    background-color: white;
    box-shadow: 0px -20px 10px 20px black;
    padding: 10px;
}

.tab {
    padding: 20px;
    color: #032E3D;
    text-decoration: none;
}
.tab:hover {
    background-color: #E8DCBE;
}

.pre-text {
    font-weight: 400;
    display: inline-block;
    padding: 5px;
    border-radius: 0.2em;
    letter-spacing: 0.2em;
    font-size: 1em;
}

.hero-text {
    font-size: 5em;
    font-weight: 900;
    text-decoration: underline;
    margin: 15px 0 25px;
}

.sub-text {
    font-size: 3em;
    font-weight: 200;
}

.small-text{
    font-weight: 200;
    margin: 3em 0;
}

.bg-dark {
    background-color: black;
    color: white;
}

.slide{
  background-position: center;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.slide1{
  background-image: url("https://talk.pdis.nat.gov.tw/uploads/default/original/2X/c/cefe13fe0a8de71c30fdc0732003b78e51073d83.JPG");
}

.slide2{
  background-image: url("https://talk.pdis.nat.gov.tw/uploads/default/original/2X/0/0501dceb4bbb80b9ff3daba8233d81dfd37c9b6e.JPG");
}

.slide3{
  background-image: url("https://talk.pdis.nat.gov.tw/uploads/default/original/2X/d/d469032fab7d43b08d02dc95ea7e57e6192ff92d.JPG");
}

.responsive-img{
  width:100%;
}

.amp-carousel-slide {
  opacity: 0.5;
}
.amp-carousel-slide[aria-hidden=false] {
  transition: opacity 2s;
  opacity: 1;
}

