:root{
    --main-text:#032E3D;
    --sub-text:#3e3e3e;
    --info:#10768D;
    --highlight:#DBB608;
    --background:#E8DCBE;
    --select:#BF1826;
    --card-size:260px;
}

::selection{
    background: var(--select);
	color: var(--background);
}

body{
  font-family: Lato;
  color: var(--main-text);
}

a{
    text-decoration: none;
    border-bottom: 1px var(--info) solid ;
    color: var(--info);
}

p{
    font-size: 1.2rem;
    line-height: 2rem;
    word-break: break-all;
    margin: 0px;
}

amp-img.grey-placeholder {
    background-color:var(--background);
}

hr{
    width:100%;
}